*{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #d1d8e6;
}

.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border-radius: 2%;
    font-family:"Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: white;
}  

.texto::placeholder{
    color: cadetblue;
}

.texto:focus,
.texto:active{
    border: none;
    outline: none;
}

.terminos{
    display: flex;
    flex-direction: row;
    align-items:  center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}
.terminos p{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    flex-grow: 0;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}
.btn_encriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8%;
    width: 18%;
    background-color: #0a3871;
    border: 1px solid black;
    border-radius: 24px;
    font-family: "Intel";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: white;
}
.btn-desencriptar{
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8%;
    width: 18%;
    background-color: #d8dfe8;
    border: 1px solid blue;
    border-radius: 24px;
    font-family: "Intel";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: black;
}
.btn_copy{
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8%;
    width: 18%;
    background-color: green;
    border: 1px solid black;
    border-radius: 24px;
    font-family: "Intel";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: white;
}
.btn_encriptar:hover,
.btn-desencriptar:hover,
.btn_copy:hover{
    margin: 0.3%;
    width: 18.5%;
    padding: 1.8%;
    font-size: 22px;
}
.encriptador{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #ffff;
    box-shadow: 0px 24px 32px 8px;
    border-radius: 32px;
}
.mensaje_encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}
.mensaje_encriptado h2{
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}
.mensaje_encriptado p{
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}
.encriptador img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}
footer{
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
}

/*RESPONSIVE DESING*/
@media (max-width: 57.5em){
    .container{
        display: flex;
        flex-direction: row;
    }
    .encriptar{
        width: 100%;
    }
    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .terminos{
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .terminos p{
        font-size: 16px;
    }
    .botones{
        width: 80%;
        left: 10%;
        top: 70%
    }
    .btn_encriptar,
    .btn-desencriptar,
    .btn_copy{
        width: 48%;
        border-radius: 16px;
    }
    .btn_encriptar:hover,
    .btn-desencriptar:hover,
    .btn_copy:hover{
        margin: .03%;
        width: 47.5%;
        padding: 1.8%;
    }
    .encriptador{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }
    .mensaje_encriptado{
        width: 100%;
        top: 5%;
    }
    .encriptador img{
        top: 0;
        display: none;
        visibility: hidden;
    }
}
